<div class="playground">
    <div class="board-top">
        <div class="point triangle-down" *ngFor="var point of firstPoints"></div>
    </div>
    <div class="gap"></div>
    <div class="bar">
        <div class="bar-axis">
            <div class="plate">
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
            </div>
            <div class="plate">
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
                <div class="screw"><div class="indent"></div></div>
            </div>
        </div>

    </div>

    <div class="board-bottom">
        <div class="point triangle-up" *ngFor="var point of lastPoints"></div>
    </div>
</div>